<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- item in sidebar -->
        <add id="Tuna_BannerSlider::bannerslider" title="Banner Slider" module="Tuna_BannerSlider" sortOrder="10" resource="Tuna_BannerSlider::bannerslider" />

        <add id="Tuna_BannerSlider::bannerslider_bannerslider" title="Banner Slider" module="Tuna_BannerSlider"  sortOrder="10" parent="Tuna_BannerSlider::bannerslider" resource="Tuna_BannerSlider::bannerslider_bannerslider" />
        <add id="Tuna_BannerSlider::bannerslider_sliders" title="Manager Sliders" module="Tuna_BannerSlider"  sortOrder="10" parent="Tuna_BannerSlider::bannerslider_bannerslider" action="bannerslideradmin/slider" resource="Tuna_BannerSlider::bannerslider_sliders" />
        <add id="Tuna_BannerSlider::bannerslider_banners" title="Manager Banners" module="Tuna_BannerSlider"  sortOrder="10" parent="Tuna_BannerSlider::bannerslider_bannerslider" action="bannerslideradmin/banner" resource="Tuna_BannerSlider::bannerslider_banners" />
        <add id="Tuna_BannerSlider::bannerslider_allcoreslider" title="Preview Sliders" module="Tuna_BannerSlider"  sortOrder="10" parent="Tuna_BannerSlider::bannerslider_bannerslider" action="bannerslideradmin/coreslider" resource="Tuna_BannerSlider::bannerslider_allcoreslider" />

        <add id="Tuna_BannerSlider::settings" title="Settings" module="Tuna_BannerSlider"  sortOrder="30" parent="Tuna_BannerSlider::bannerslider" action="adminhtml/system_config/edit/section/bannerslider" resource="Tuna_BannerSlider::settings" />


    </menu>
</config>
