<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- tab show in Configuration -->
        <tab id="banner_slider" translate="label" sortOrder="200">
            <label>Banner Slider</label>
        </tab>

        <!-- to use: featured_product/general -->
        <section id="bannerslider" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Configuration</label>
            <tab>banner_slider</tab>
            <resource>Tuna_BannerSlider::config_bannerslider</resource>
            <!-- General settings here -->
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>General Settings</label>

                <field id="enable" translate="label" type="select" sortOrder="1"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable BannerSlider</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>




            </group>
        </section>
    </system>
</config>


